<ul style="height: 95vh; min-width:98px" class="nav flex-column pt-4 bg-dark">
        <li class="nav-item">
          <a class="nav-link active text-white" href="" routerLink="/customers"><i class="fas fa-user"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="" routerLink="/contacts"><i class="fas fa-envelope"></i> Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-shopping-cart"></i> Lead</a>
        </li>
        <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fas fa-signal"></i> Integration</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link text-white" href="#"><i class="fas fa-bell"></i> Shipments</a>
                  </li>
      </ul>